### Evaluating the impact of variable readnoise in different chips ###

As chips are being delivered, they are being tested to evaluate their readnoise limits. Different chips show different behavior. This notebook evaluates the impact of these different readnoise levels, as well as evaluating the overall impact considering the distribution of readnoise/chips.

In [1]:
import numpy as np
import pandas as pd
import lsst.sims.photUtils as photUtils
import lsst.syseng.throughputs as st

In [2]:
pd.set_option('precision', 3)

In [3]:
# Read bandpass information.
defaultDirs = st.setDefaultDirs()
addLosses = True
atmosphere = st.readAtmosphere(defaultDirs['atmosphere'], atmosFile='atmos_10_aerosol.dat')
hardware, system = st.buildHardwareAndSystem(defaultDirs, addLosses, atmosphereOverride=atmosphere)

In [4]:
# Standard LSST visits, standard LSST readnoise and 1 visit = 15s x 2exp
v_standard = st.makeM5(hardware, system, exptime=15, nexp=2, readnoise=8.8, othernoise=0, darkcurrent=0.2)
v_standard

,FWHMeff,FWHMgeom,skyMag,skyCounts,Zp_t,Tb,Sb,kAtm,gamma,Cm,dCm_infinity,dCm_double,m5,sourceCounts,m5_fid,m5_min
u,0.92,0.808,22.961,80.841,27.030,0.037,0.058,0.502,0.038,23.186,0.576,0.363,23.870,550.933,23.9,23.4
g,0.87,0.767,22.258,411.095,28.381,0.127,0.154,0.214,0.039,24.429,0.176,0.093,24.822,795.628,25.0,24.6
r,0.83,0.734,21.197,818.797,28.156,0.103,0.116,0.126,0.039,24.446,0.096,0.048,24.359,990.244,24.7,24.3
i,0.80,0.710,20.477,1173.488,27.857,0.078,0.085,0.096,0.039,24.340,0.069,0.033,23.934,1112.331,24.0,23.6
z,0.78,0.693,19.600,1782.992,27.461,0.054,0.058,0.069,0.039,24.181,0.046,0.021,23.363,1306.752,23.3,22.9
y,0.76,0.677,18.610,2371.023,26.680,0.026,0.031,0.170,0.039,23.752,0.035,0.016,22.468,1451.708,22.1,21.7

In [5]:
# Standard LSST readnoise but 1 visit = 30s x 1exp
v_double = st.makeM5(hardware, system, exptime=30, nexp=1, readnoise=8.8, othernoise=0, darkcurrent=0.2)
v_double

,FWHMeff,FWHMgeom,skyMag,skyCounts,Zp_t,Tb,Sb,kAtm,gamma,Cm,dCm_infinity,dCm_double,m5,sourceCounts,m5_fid,m5_min
u,0.92,0.808,22.961,80.841,27.030,0.037,0.058,0.502,0.038,23.390,0.372,0.220,24.074,456.439,23.9,23.4
g,0.87,0.767,22.258,411.095,28.381,0.127,0.154,0.214,0.039,24.507,0.099,0.049,24.900,740.702,25.0,24.6
r,0.83,0.734,21.197,818.797,28.156,0.103,0.116,0.126,0.039,24.490,0.052,0.024,24.403,950.811,24.7,24.3
i,0.80,0.710,20.477,1173.488,27.857,0.078,0.085,0.096,0.039,24.373,0.037,0.016,23.966,1079.943,24.0,23.6
z,0.78,0.693,19.600,1782.992,27.461,0.054,0.058,0.069,0.039,24.203,0.025,0.010,23.385,1280.712,23.3,22.9
y,0.76,0.677,18.610,2371.023,26.680,0.026,0.031,0.170,0.039,23.769,0.019,0.007,22.485,1429.529,22.1,21.7

In [6]:
# 7e readnoise, 1 visit = 15s x 2exp
v_7_15 = st.makeM5(hardware, system, exptime=15, nexp=2, readnoise=7, othernoise=0, darkcurrent=0.2)
# 7e readnoise, 1 visit = 30s x 1 exp
v_7_30 = st.makeM5(hardware, system, exptime=30, nexp=1, readnoise=7, othernoise=0, darkcurrent=0.2)

In [7]:
# 9e readnoise, 1 visit = 15s x 2 exp
v_9_15 = st.makeM5(hardware, system, exptime=15, nexp=2, readnoise=9, othernoise=0, darkcurrent=0.2)
# 9e readnoise, 1 visit = 30s x 1 exp                  
v_9_30 = st.makeM5(hardware, system, exptime=30, nexp=1, readnoise=9, othernoise=0, darkcurrent=0.2)

In [8]:
# 13 e readnoise, 1 visit = 15s x 2 exp
v_13_15 = st.makeM5(hardware, system, exptime=15, nexp=2, readnoise=13, othernoise=0, darkcurrent=0.2)
# 13e readnoise, 1 visit = 30s x 1 exp
v_13_30 = st.makeM5(hardware, system, exptime=30, nexp=1, readnoise=13, othernoise=0, darkcurrent=0.2)

In [9]:
# 18 e readnoise, 1 visit = 15s x 2 exp
v_18_15 = st.makeM5(hardware, system, exptime=15, nexp=2, readnoise=18, othernoise=0, darkcurrent=0.2)
# 18e readnoise, 1 visit = 30s x 1 exp
v_18_30 = st.makeM5(hardware, system, exptime=30, nexp=1, readnoise=18, othernoise=0, darkcurrent=0.2)

In [10]:
cols = ['dCm_infinity']
coln = 'dCm_inf'
m5s = [v_7_15, v_7_30, v_9_15, v_9_30, v_13_15, v_13_30, v_18_15, v_18_30]
names = ['7_15', '7_30', '9_15', '9_30', '13_15', '13_30', '18_15', '18_30']
fullnames = []
for n in names:
    fullnames.append(n + ' ' + coln)
first = True
for x, n in zip(m5s, fullnames):
    tmp = pd.DataFrame(x[cols])
    tmp.columns = [n]
    if first:
        d = tmp
        first = False
    else:
        d = d.join(tmp)
d

,7_15 dCm_inf,7_30 dCm_inf,9_15 dCm_inf,9_30 dCm_inf,13_15 dCm_inf,13_30 dCm_inf,18_15 dCm_inf,18_30 dCm_inf
u,0.434,0.272,0.592,0.383,0.876,0.606,1.169,0.858
g,0.120,0.067,0.183,0.102,0.325,0.189,0.509,0.315
r,0.064,0.035,0.100,0.054,0.188,0.104,0.315,0.181
i,0.046,0.025,0.072,0.038,0.138,0.075,0.238,0.133
z,0.030,0.016,0.048,0.026,0.095,0.050,0.168,0.091
y,0.023,0.012,0.037,0.019,0.073,0.038,0.131,0.070

### Impact on dCm_infinity ###

In [11]:
# Change in dCm_infinity
d.subtract(d['9_15 dCm_inf'], axis=0)

,7_15 dCm_inf,7_30 dCm_inf,9_15 dCm_inf,9_30 dCm_inf,13_15 dCm_inf,13_30 dCm_inf,18_15 dCm_inf,18_30 dCm_inf
u,-0.157,-0.320,0.0,-0.208,0.285,0.015,0.577,0.267
g,-0.063,-0.116,0.0,-0.080,0.142,0.006,0.326,0.132
r,-0.036,-0.065,0.0,-0.046,0.088,0.004,0.215,0.082
i,-0.026,-0.047,0.0,-0.033,0.066,0.003,0.166,0.061
z,-0.018,-0.032,0.0,-0.023,0.046,0.002,0.120,0.043
y,-0.014,-0.024,0.0,-0.017,0.036,0.001,0.094,0.033

In [12]:
# Latex version for documents
print(d.to_latex())

\begin{tabular}{lrrrrrrrr}
\toprule
{} &  7\_15 dCm\_inf &  7\_30 dCm\_inf &  9\_15 dCm\_inf &  9\_30 dCm\_inf &  13\_15 dCm\_inf &  13\_30 dCm\_inf &  18\_15 dCm\_inf &  18\_30 dCm\_inf \\
\midrule
u &         0.434 &         0.272 &         0.592 &         0.383 &          0.876 &          0.606 &          1.169 &          0.858 \\
g &         0.120 &         0.067 &         0.183 &         0.102 &          0.325 &          0.189 &          0.509 &          0.315 \\
r &         0.064 &         0.035 &         0.100 &         0.054 &          0.188 &          0.104 &          0.315 &          0.181 \\
i &         0.046 &         0.025 &         0.072 &         0.038 &          0.138 &          0.075 &          0.238 &          0.133 \\
z &         0.030 &         0.016 &         0.048 &         0.026 &          0.095 &          0.050 &          0.168 &          0.091 \\
y &         0.023 &         0.012 &         0.037 &         0.019 &          0.073 &          0.038 &          0.131 &          0.070 \\
\bottomrule
\end{tabular}

In [13]:
cols = ['m5']
coln = 'm5'
m5s = [v_7_15, v_7_30, v_9_15, v_9_30, v_13_15, v_13_30, v_18_15, v_18_30]
names = ['7_15', '7_30', '9_15', '9_30', '13_15', '13_30', '18_15', '18_30']
fullnames = []
for n in names:
    fullnames.append(n + ' ' + coln)
first = True
for x, n in zip(m5s, fullnames):
    tmp = pd.DataFrame(x[cols])
    tmp.columns = [n]
    if first:
        d = tmp
        first = False
    else:
        d = d.join(tmp)
d

   7_15 m5  7_30 m5  9_15 m5  9_30 m5  13_15 m5  13_30 m5  18_15 m5  18_30 m5
u   24.012   24.174   23.854   24.063    23.570    23.839    23.277    23.588
g   24.878   24.931   24.815   24.896    24.673    24.809    24.489    24.683
r   24.391   24.420   24.355   24.401    24.267    24.351    24.140    24.274
i   23.958   23.979   23.931   23.965    23.865    23.929    23.765    23.870
z   23.379   23.393   23.361   23.384    23.315    23.359    23.242    23.318
y   22.481   22.491   22.467   22.484    22.431    22.465    22.373    22.434

### Impact on m5 ###

In [14]:
d.subtract(d['9_15 m5'], axis=0)

   7_15 m5  7_30 m5  9_15 m5  9_30 m5  13_15 m5  13_30 m5  18_15 m5  18_30 m5
u    0.157    0.320      0.0    0.208    -0.285    -0.015    -0.577    -0.267
g    0.063    0.116      0.0    0.080    -0.142    -0.006    -0.326    -0.132
r    0.036    0.065      0.0    0.046    -0.088    -0.004    -0.215    -0.082
i    0.026    0.047      0.0    0.033    -0.066    -0.003    -0.166    -0.061
z    0.018    0.032      0.0    0.023    -0.046    -0.002    -0.120    -0.043
y    0.014    0.024      0.0    0.017    -0.036    -0.001    -0.094    -0.033

### Impact on effective time ###

In [17]:
SRD_time_distribution = {'u': 0.068, 'g': 0.097, 'r': 0.223, 
                         'i': 0.223, 'z': 0.194, 'y': 0.194}
# Fractional change in effective time is proportional to change in m5.
# Longer = better
dtime = np.power(10, 0.8 * (d.subtract(d['9_15 m5'], axis=0)))
dtime

   7_15 m5  7_30 m5  9_15 m5  9_30 m5  13_15 m5  13_30 m5  18_15 m5  18_30 m5
u    1.336    1.802      1.0    1.468     0.592     0.973     0.345     0.612
g    1.122    1.238      1.0    1.160     0.770     0.988     0.548     0.784
r    1.068    1.128      1.0    1.088     0.850     0.993     0.673     0.861
i    1.050    1.091      1.0    1.063     0.885     0.995     0.736     0.893
z    1.034    1.061      1.0    1.043     0.918     0.996     0.802     0.924
y    1.026    1.046      1.0    1.033     0.936     0.997     0.841     0.941

Account for distribution of readnoise and filters:
* 50% of the focal plane has 7e read noise
* 25% of the focal plane has 9e read noise
* 20% of the focal plane has 13e read noise
* 5% of the focal plane has 18e read noise

In [18]:
# Change in time per band (2x15s visits)
dtime_weighted = (0.50 * dtime['7_15 m5']   + 0.25 * dtime['9_15 m5'] 
                  + 0.20 * dtime['13_15 m5'] + 0.05 * dtime['18_15 m5'])
dtime_weighted

u    1.054
g    0.992
r    0.988
i    0.989
z    0.991
y    0.992
dtype: float64

In [19]:
dtime_total = 0
for f in SRD_time_distribution:
    dtime_total += dtime_weighted[f] * SRD_time_distribution[f]
dtime_total

0.9933060452395756

In [20]:
# Change in time per band (1x30s visits)
dtime_weighted = (0.50 * dtime['7_30 m5']   + 0.25 * dtime['9_30 m5'] 
                  + 0.20 * dtime['13_30 m5'] + 0.05 * dtime['18_30 m5'])
dtime_weighted

u    1.493
g    1.146
r    1.077
i    1.055
z    1.037
y    1.028
dtype: float64

In [21]:
dtime_total = 0
for f in SRD_time_distribution:
    dtime_total += dtime_weighted[f] * SRD_time_distribution[f]
dtime_total

1.088707414025389